@model Bigschool_TH_11.Models.HopDong

@{
    ViewBag.Title = "Chi Tiết Hợp Đồng";
    ViewBag.ActiveMenu = "HopDong";
    ViewBag.ActiveSub = "DetailsHopDong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HopDong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiHopDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiHopDong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHopDong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
