@model IEnumerable<Bigschool_TH_11.Models.ChucNang>
@{
    ViewBag.Title = "Chuc Nang";
    ViewBag.ActiveMenu = "ChucNang";
    ViewBag.ActiveSub = "IndexChucNang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chuc Nang</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaChucNang</td>
            <td>@item.TenChucNang</td>
            <td>
                @Html.ActionLink("Edit", "ChucNang", new { id = item.MaChucNang }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>