@model Bigschool_TH_11.Models.KhenThuongKyLuat

@{
    ViewBag.Title = "Details: Khen Thưởng / Kỷ Luật";
    ViewBag.ActiveMenu = "KhenThuongKyLuat";
    ViewBag.ActiveSub = "DetailsKhenThuongKyLuat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhenThuongKyLuat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLyDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLyDo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaKTKL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
